@import "config";

::-webkit-scrollbar {
 width: 0px;
}
body {
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}

.main {
 position: relative;
 width: 1440px;
 height: 960px;
 background: $color-white;

 &-img {
  position: absolute;
  width: 505px;
  height: 330px;
  left: 230px;
  top: 96px;
 }
 &-title {
  position: absolute;
  width: 380px;
  height: 50px;
  left: calc(50% - 380px / 2 + 300px);
  top: calc(50% - 50px / 2 - 319px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: $color-black;
 }
 &-copy {
  position: absolute;
  width: 380px;
  height: 96px;
  left: calc(50% - 380px / 2 + 300px);
  top: calc(50% - 96px / 2 - 222px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-black;
 }
 &-btn {
  position: absolute;
  width: 128px;
  height: 48px;
  left: calc(50% - 380px / 2 + 300px);
  top: 338px;
  background: #e4c1ae;
  border-radius: 32px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
 }
}

.popup {
 visibility: hidden;
 position: absolute;
 background-color: $color-black-half;
 width: 100vw;
 height: 100vh;
 margin-top: -23px;
 display: flex;
 align-items: center;
 justify-content: center;
 &-window {
  position: relative;
  width: 920px;
  height: 210px;
  background-color: $color-white;
  &-btn {
   position: absolute;
   top: 46px;
   right: 46px;
   font-size: 15px;
   background: none;
   border: none;
  }
  &-title {
   position: absolute;
   width: 380px;
   height: 50px;
   left: calc(50% - 380px / 2 - 175px);
   top: calc(50% - 50px / 2 - 24px);
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 42px;
   line-height: 120%;
   color: $color-black;
  }
  &-content {
   position: absolute;
   width: 380px;
   height: 24px;
   left: calc(50% - 380px / 2 - 175px);
   top: calc(50% - 24px / 2 + 37px);
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 150%;
   &-bold {
    font-weight: 900;
   }
  }
 }
}

.visible {
 visibility: visible;
}
