@import "config", "module", "responsive";

::-webkit-scrollbar {
 width: 0px;
}
body {
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}

.visible {
 visibility: visible;
 opacity: 1;
}
.invisible {
 visibility: hidden;
 opacity: 0;
}
